# Dependencias
/node_modules
/.pnp
.pnp.js

# Pruebas
/coverage
/.nyc_output

# Entorno
.env
.env.local
.env.development
.env.test
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
/.next
/out

# Cache
.cache
/.eslintcache

# Sistema
.DS_Store
*.pem

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
.next
.next/*
!.next/cache
!.next/cache/*
